@import "tailwindcss";
@import "@nuxt/ui";

@import "./animations.css";

@theme static {
  --font-serif: "PP Neue Montreal", serif;
  --font-sans: "Geist Mono", sans-serif;
  --font-mono: "Geist Mono", sans-serif;
}

:root {
  scrollbar-color: var(--ui-border) transparent;
  scrollbar-width: thin;

  --ui-primary: rgb(21 93 252) !important;
  --ui-bg: rgb(251 249 250);
  --ui-radius: 0;
}

.dark {
  --ui-primary: rgb(21 93 252) !important;
  --ui-bg: rgb(2, 2, 2);
}

@layer base {
  :root {
    @apply selection:bg-primary selection:text-highlighted;
  }

  .blurred {
    @apply blur-xs hover:blur-none focus-within:blur-none focus:blur-none transition-all duration-300;
  }

  .no-link {
    @apply text-muted border-none cursor-default font-normal not-italic;
  }

  .link {
    @apply hover:border-primary focus-visible:outline-primary [&>code]:border-dashed hover:[&>code]:border-primary hover:[&>code]:text-primary transition-colors [&>code]:transition-colors italic border-b border-(--color-primary) text-highlighted font-medium;
  }

  .h1 {
    @apply text-highlighted mb-8 scroll-mt-[calc(45px+var(--ui-header-height))] lg:scroll-mt-(--ui-header-height) text-2xl sm:text-3xl font-serif italic font-[500];
  }

  p {
    @apply my-5 leading-5 text-pretty text-muted;
  }
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}
